.grid {
  width: 680px;

}

.grid-row {
  display: flex;

  background-image: linear-gradient(transparent, rgba(0,0,0,0.6));
  border: 1px solid rgb(51, 49, 49);
  height: 41px;
  align-items: center;
}

.grid-row-sample-button {
  width: 65px;
  height: 90%;
  margin-right: 5px;
  margin-left: 8px;
  background-image:
    radial-gradient(
      #2c2a2a,
      #252424
    );
  border: 2px solid #302f2e;
  border-radius: 2px;
  border-style: outset;
  color: rgb(196, 46, 255);
  text-shadow: 0 0 10px rgb(196, 46, 255);;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: bolder;
}

.grid-row-sample-button:hover {
  cursor: pointer;
}

.grid-button {
  width: 35px;
  height: 35px;
  margin-right: 1px;
    background-image:
  radial-gradient(
    #2c2a2a,
    #252424
  );
  border: 2px solid #302f2e;
  border-radius: 4px;
  border-style: outset;
  transition: border .2s;
}

.downbeat {
      background-image:
  radial-gradient(
    #1f1d1d,
    #161616
  );
}

.active-button {

  border-color: #c141f3;
  background-image:
  radial-gradient(
    rgb(196, 46, 255),
    #9527b1
  );
}

.grid-button:hover {
  cursor: pointer;
  border: 2px solid #c918ff;
}

.row-bottom-marker-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.row-bottom-markers {
  display: flex;
  margin-right: 11px;
}

.row-bottom-markers h5 {
  width: 35px;
  margin-right: 1px;
  text-align: center;
  color: #9e60db;
  cursor: default;
}

.selected-beat {
  color: white!important;
}

.highlight-grid-button.active-button {
  background-image:
    radial-gradient(
      rgb(220, 149, 248),
      #9527b1
    )!important;
}

.tempo-input {
  width: 34px;
  height: 20px;
  background-color: #050505;
  color: rgb(196, 46, 255);
  text-shadow: 0 0 10px rgb(196, 46, 255);;
  border: 1px solid black;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
}

.meter {
  width: 5px;
  margin-right: 10px;
  background-color: #141414;
  height: 30px;
  transform-origin: bottom;
  transition: background-color linear .3s, box-shadow linear .3s;
}

.meter-active {
  background-color: #c918ff;
  box-shadow: 0 0 10px rgb(196, 46, 255);;
  background-position: 0 100%;
}


@keyframes glowing {
  0% { box-shadow: 0 0 -3px #c918ff; }
  40% { box-shadow: 0 0 20px #c918ff; }
  60% { box-shadow: 0 0 20px #c918ff; }
  100% { box-shadow: 0 0 -3px #c918ff; }
}

.glowing {
  animation: glowing 4000ms infinite;
}