.sequencer {
  background-image:
    radial-gradient(
      #333232,
      #0c0b0b
    );
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 825px;
  height: 700px;
}

.app-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 48px;
  color: rgb(196, 46, 255);
  text-shadow: 0 0 10px rgb(196, 46, 255);;
  margin-left: 40px;
}

.sequencer-top {
  display: flex;
}

.video {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  background-color: black;
  border: 2px solid rgb(32, 31, 31);
  box-shadow: 0px 0px 8px #fff;
}